@page "/element-edit/{Id:int}"
@using SOM.Core.ViewModel;

@inject NavigationManager Navigation
@inject HttpClient Http


<h3>Element Edit</h3>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Width" class="control-label">Width</label>
                <input form="Widht" class="form-control" @bind="@element.Width" />
            </div>
            <div class="form-group">
                <label for="Height" class="control-label">Height</label>
                <input form="Height" class="form-control" @bind="@element.Height" />
            </div>
            <div class="form-group">
                <label for="ElementType" class="control-label">Element Type</label>
                <select @bind="@element.ElementTypeId" class="form-control">
                    <option value="">-Select Element Type</option>
                    @foreach (var elementType in elementTypes)
                    {
                        <option value="@elementType.Id">@elementType.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdteElement" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public int Id { get; set; }

    private ElementViewModel? element;
    private List<ElementTypeViewModel>? elementTypes;

    protected override async Task OnInitializedAsync()
    {
        element = await Http.GetFromJsonAsync<ElementViewModel>("/api/Element/GetById?id=" + Id);
        elementTypes = await Http.GetFromJsonAsync<List<ElementTypeViewModel>>("/api/ElementType/GetAll/");
    }

    protected async void UpdteElement()
    {
        await Http.PutAsJsonAsync("/api/Element/Update", element);
        Navigation.NavigateTo("element-list");
    }
    void Cancel()
    {
        Navigation.NavigateTo("element-list");
    }

}
