@page "/window-edit/{Id:int}"
@using AutoMapper;
@using SOM.Client.Pages.Element.Modal;
@using SOM.Core.Model;
@using SOM.Core.ViewModel;
@using SOM.Shared;
@using System.Net;

@inject HttpClient Http
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject NotificationService NotificationService
@implements IDisposable

<h3>Window Edit</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <RadzenFieldset Text="Basic Info">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Name" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="Name" @bind-Value="@window.Name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Quantity" />
                    </div>
                    <div class="col-md-8">
                        <RadzenNumeric style="width: 100%;" Name="Name" @bind-Value="@window.Quantity" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" @onclick="@UpdateWindow" value="Update" />
                            <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
                        </div>
                    </div>
                </div>
            </RadzenFieldset>
            <RadzenFieldset Text="Sub-Elements">
                <RadzenButton Text="Add Element" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Info" Click=@AddElement></RadzenButton>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">ElementType</th>
                                <th scope="col">Width</th>
                                <th scope="col">Height</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var selectedlement in selectedlements)
                            {
                                <tr>
                                    <td>@selectedlement.ElementId</td>
                                    <td>@selectedlement.ElementTypeName</td>
                                    <td>@selectedlement.Width</td>
                                    <td>@selectedlement.Height</td>
                                    <td>
                                        <RadzenButton Text="Delete" Icon="delete" ButtonStyle="ButtonStyle.Light" Click=@(args => RemoveElement((int)@selectedlement.Id))></RadzenButton>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </RadzenFieldset>
        </div>
    </div>
</div>

@code {
    [Inject]
    protected IMapper Mapper { get; set; }
    [Parameter]
    public int Id { get; set; }


    WindowViewModel window = new WindowViewModel();
    List<WindowElementViewModel> selectedlements = new List<WindowElementViewModel>();
   
    protected override async Task OnInitializedAsync()
    {
        DialogService.OnOpen += Open;
        DialogService.OnClose += Close;

        window = await Http.GetFromJsonAsync<WindowViewModel>("/api/Window/GetById?id=" + Id);
        selectedlements = await Http.GetFromJsonAsync<List<WindowElementViewModel>>("/api/WindowElement/GetByWindowId?windowId=" + Id);
    }
    protected async void UpdateWindow()
    {
        var data = Mapper.Map<WindowModel>(window);
        var res = await Http.PutAsJsonAsync("/api/Window/Update", data);
        if (res.StatusCode == HttpStatusCode.OK)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Successfull", Detail = "Successfully Updated", Duration = 5000 });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = "Something Went Wrong", Duration = 4000 });
        }
    }
    protected void Cancel()
    {
        Navigation.NavigateTo("window-list");
    }
    protected async void AddElement()
    {
        var windowElementModel = new List<WindowElementModel>();
        List<ElementViewModel> data = await DialogService.OpenAsync<ElementListSelect>("Subelement List",
               null,
               new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true });
        foreach (var obj in data)
        {
            windowElementModel.Add(new WindowElementModel()
            {
                WindowId = Id,
                ElementId = (int)obj.Id
            });
        }

        var res = await Http.PostAsJsonAsync("/api/WindowElement/AddBulk", windowElementModel);
        if (res.StatusCode == HttpStatusCode.OK)
        {
            var mappedData = Mapper.Map<List<WindowElementViewModel>>(data);
            selectedlements.AddRange((List<WindowElementViewModel>)mappedData);
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Successfull", Detail = "Elements Added Successfully", Duration = 5000 });
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = "Something Went Wrong", Duration = 4000 });
        }
        StateHasChanged();
    }
    protected async void RemoveElement(int id)
    {
        var res = await Http.DeleteAsync("/api/WindowElement/Delete?id="+id);
        if(res.StatusCode == HttpStatusCode.OK)
        {
            selectedlements = selectedlements.Where(x => x.Id != id).ToList();
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Successfull", Detail = "Elements Deleted Successfully", Duration = 5000 });
        }
        StateHasChanged();
    }

    void Open(string title, Type type, Dictionary<string, object> parameters, DialogOptions options)
    {

    }

    void Close(dynamic result)
    {

    }
    public void Dispose()
    {
        DialogService.OnOpen -= Open;
        DialogService.OnClose -= Close;
    }
}
